.history
.#OSX
#-------------------------------------------------------------------------------
.DS_STORE
.cache

#General
#-------------------------------------------------------------------------------

node_modules
package-lock.json
/dist/*
!/dist/assets/
