.Banner {
    width: 100%;
    position: absolute;
}

img {
    position: absolute;
    display: inline-block;
    width: 100%;
}

.BannerText {
    width: 100%;
    position: relative;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
    margin-top: 5.6em;
    text-shadow: 0vh 0.25vh 0.2vh black;
    align-self: center;
}

@media (max-width: 1030px) {
    .BannerText {
        font-size: 1.3em;
        margin-top: 5.4em;
        align-self: center;
    }
}

@media (max-width: 850px) {
    .BannerText {
        font-size: 1.1em;
        margin-top: 4.7em;
        align-self: center;
    }

    .BannerStart {
        margin-top: 0em;
    }
}

@media (max-width: 600px) {
    .BannerText {
        font-size: 1em;
        margin-top: 3em;
        align-self: center;
    }

    .BannerText>p {
        margin-bottom: 0.5em;
    }
}

.BannerStart {
    font-weight: normal;
    margin-top: 1.4em;
    width: 13%;
    margin: auto;
}

.BannerStart>button {
    padding: 0.8em 0.8em;
    border: 1px;
    border-style: solid;
    border-radius: 35px;
    border-color: white;
    background-color: transparent;
    color: white;
    font-size: 0.6em;
    cursor: pointer;
    text-shadow: 0vh 0.15vh 0.3vh grey;
}

.BannerStart>button:hover {
    background-color: black;
}

.BannerText>p {
    margin-bottom: 0.7em;
}